@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body {
    font-family: 'Syne Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    background: linear-gradient(#141e30, #243b55);
}
h1{
  color: white;
}
#error{
  color: red;
}
.error{
  color: red;
}

#rutError{
  font-size: 12px;
  color: red;
}
  
#formulario {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
@media (max-width:480px){
  #formulario {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
}
  
#formulario .user-box {
    position: relative;
}
  
#formulario .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.experience{
  display: grid;
  grid-template-columns: 10% 10%;
  
}

.exp-opt{
  width:20px;
  height: 20px;
  
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
  
#formulario button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #243b55;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
  
#formulario button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.option-box{
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

span{
  color: #fff;
}

label{
  color: #fff;
}

.checkbox{
  color: #fff;
  margin: 1rem 0 ;
  display: grid;
  grid-template-columns: 40% 30%;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #a1a1a1;
  border-radius: 5px;
  border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #3da58c;
  border: 1px solid #6262c2;
  height: 24px;
  width: 16px;
  border-radius: 7px;
  background: #1dcaeb;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}


input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a1a1a1;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #a1a1a1;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #3da58c;
  border: 1px solid #6262c2;
  height: 24px;
  width: 16px;
  border-radius: 7px;
  background: #1dcaeb;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #a1a1a1;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #a1a1a1;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #3da58c;
  border: 1px solid #6262c2;
  height: 24px;
  width: 16px;
  border-radius: 7px;
  background: #1dcaeb;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #a1a1a1;
}
input[type=range]:focus::-ms-fill-upper {
  background: #a1a1a1;
}

.experience{
  margin: 1rem 0;
}
  